<!DOCTYPE html>
<html>
  <head>
    <title>Lab Maintanence System CC2</title>
   {% load static %}
    <link href={% static 'css/FL.css'  %} rel="stylesheet">
<link href="FL.css" type="text/css" rel="stylesheet">
  <body>
    <div class="pimg1">
        <h3>You have successfully logged in!</h3>
    </div>
    <section  class="section section-light">

    </section>
      <div class="pimg2">
        <div class="ptext">
            <h1><a class="btn" href="entercc2.html">Enter Details</a></h1>
        </div>
      </div>
    <section  class="section section-dark">

    </section>
    <div class="pimg3">
      <div class="ptext">
          <h1><a class="btn" href="C.html">View Details</a></h1>
      </div>
    </div>
 
   <section  class="section section-dark">

   </section>
</body>
</head>
</html>
