<!DOCTYPE html>
<html>
  <head>
    <title>New System</title>

    <!--{% load static %}
    <link href={% static 'css/R.css'  %} rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link  type="text/css" rel="stylesheet">-->
  <body>
    <h2 class="A">Enter Details</h2>
    <div class="form">
      <div class="tab-content">

    <section class="box1">
       <form method="post"> {% csrf_token %}
      <div class="input-field">
      
        <input type="text" id="icon-prefix" name="System_No" >
        
      </div>
      <div class="input-field">
      <label class="active" for="icon prefix">Date</label> 
       <input type="date" id="icon-prefix" name="Date" >
       </div>
      <div class="input-field">
      <label class="active" for="icon-prefix">Make</label>
        <input type="text" id="icon-prefix"  name="Make">
        
      </div>
      <div class="input-field">
      <label class="active" for="icon-prefix">Model No</label>
        <input type="text" id="icon-prefix" name="Model_No">
        
      </div>
      <div class="input-field">      
        <label class="active" for="icon-prefix">Quantity</label>
        <input type="number" id="icon-prefix" name="Quantity">
      </div>
      <div class="input-field">
      <label class="active" for="icon-prefix">Particulars</label>
        <textarea type="text" id="icon-prefix" name="Particulars">
                </textarea>
      </div>
       <div class="input-field"> 
        <label class="active" for="icon-prefix">Remarks</label>
        <textarea type="text" id="icon-prefix" name="Remarks">
          </textarea>
          </div>
      </div>
      </div>
     <button type="submit" class="btn btn-default" >Submit</button>

   </form>
   </div>

<!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });</script>

<script>
$('.timepicker').pickatime({
    default: 'now', // Set default time: 'now', '1:30AM', '16:30'
    fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
    twelvehour: false, // Use AM/PM or 24-hour format
    donetext: 'OK', // text for done-button
    cleartext: 'Clear', // text for clear-button
    canceltext: 'Cancel', // Text for cancel-button
    autoclose: false, // automatic close timepicker
    ampmclickable: true, // make AM PM clickable
    aftershow: function(){} //Function for after opening timepicker
  });
</script>-->
</body>
</head>
</html>
