<!--- 
<html>
<h2>Select The Lab</h2>
{% comment %} <b>cc1</b><input type="button" name="buton1" action="">
<br>
<br>
<b>cc2</b><input type="button" name="buton1" action="">
<br>
<br>
<b>acl</b><input type="button" name="buton1" action=""> {% endcomment %}
</html>-->

<html>
<h2>Select The Lab</h2>
<form action="logincc1.html">
<button class="button  flex-item" type="submit" >CC1</button>
</form>
<form action="logincc2.html">
<button class="button  flex-item" type="submit">CC2</button>
</form>
<form action="loginacl.html">
<button class="button  flex-item" type="submit">ACL</button>
</form>
</html>